package templates

import (
    "echochat/models"
    "echochat/utils"
    components "echochat/templates/components"
)

templ AddedProviderResponse(provider models.ProviderModel) {
    @components.PageNotification("Successfully added a new provider!")
    <div id="addServiceFromProviderForm" hx-swap-oob="innerHTML:#addServiceFromProviderForm" class="flex flex-col flex-1 py-2 px-3 mt-2 mb-2 min-h-0">
        @components.AddServiceFromProviderForm(provider, "addServiceFromNewlyAddedProviderForm", []models.ServiceModel{})
    </div>
    <div hx-swap-oob="afterbegin:#mainTableBody">
        @components.TableRow(&utils.TableRowData{
            SizeClasses: []string{
                "w-56", "w-52", "w-36", "w-56", "w-56",
            },
            Values: []string{
                provider.ID,
                provider.URL,
                provider.Method,
                provider.MethodDataReadable,
                provider.Alias,
            },
        })
    </div>
}
