package templates

import (
    layouts "echochat/templates/layouts"
    components "echochat/templates/components"
	"echochat/utils"
)

templ Providers(tableData utils.TableData) {
    @layouts.MainContent() {
        @components.PanelHeader("Providers", "Search by URL", "/partials") {
            @components.AddRecordBtn() {
                <svg class="w-7 h-7 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path strok e-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <span>New Provider</span>
                <template x-teleport="body">
                    <div id="overlay" x-show="open" @click="open = false" class="bg-black/[0.34] absolute left-0 top-0 h-full w-full z-5"></div>
                </template>
                <template x-teleport="body">
                    <div id="addRecordModal" x-cloak :class="open ? 'overflow-hidden flex flex-col transition-all fixed h-dvh right-0 top-0 bg-white z-10 border-r w-35p' : 'overflow-hidden flex flex-col transition-all fixed h-dvh right-0 top-0 bg-white z-10 border-r w-0'">
                        <header class="flex items-center text-xl font-semibold px-6 py-4">
                            <button @click="open = false" class="p-2 rounded-lg hover:bg-gray-200 active:bg-gray-300 duration-150">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                                </svg>
                            </button>
                            <span class="ml-3">New Provider</span>
                        </header>
                        <hr />
                        <form class="flex flex-1 flex-col px-6 py-4" x-data="{ method: 'telegram' }">
                            <label for="inpUrl" class="font-semibold px-3 py-1 text-sm">URL (*)</label>
                            <input id="inpUrl" name="url" class="transition-colors block p-2 ps-3
                                text-gray-900 border border-gray-300 rounded-lg bg-gray-100 focus:bg-white text-sm
                                focus:border-gray-500 outline-none" type="url" placeholder="https://provider.com" required/>
                            <label for="method" class="mt-2 font-semibold px-3 py-1 text-sm">Method (*)</label>
                            <select x-model="method" id="method" name="method" class="transition-colors block px-2 py-2
                                text-gray-900 border border-gray-300 rounded-lg bg-gray-100 focus:bg-white text-sm
                                focus:border-gray-500 outline-none">
                                <option value="telegram">Telegram</option>
                                <option value="whatsapp">WhatsApp</option>
                                <option value="web">Web</option>
                            </select>
                            <div class="flex flex-col mt-2 method" x-show="method == 'web'">
                                <label for="supportUsername" class="font-semibold px-3 py-1 text-sm">Support Username (*)</label>
                                <input id="supportUsername" name="supportUsername" class="webInp transition-colors block p-2 ps-3
                                    text-gray-900 border border-gray-300 rounded-lg bg-gray-100 focus:bg-white text-sm
                                    focus:border-gray-500 outline-none" type="text" placeholder="Username" :required="method == 'web' ? true : false" />
                                <label for="supportPassword" class="mt-2 font-semibold px-3 py-1 text-sm">Support Password (*)</label>
                                <input id="supportPassword" name="supportPassword" class="webInp transition-colors block p-2 ps-3
                                    text-gray-900 border border-gray-300 rounded-lg bg-gray-100 focus:bg-white text-sm
                                    focus:border-gray-500 outline-none" type="text" placeholder="********" :required="method == 'web'" />
                            </div>
                            <label for="alias" class="mt-2 font-semibold px-3 py-1 text-sm">Alias</label>
                            <input id="alias" name="alias" class="transition-colors block p-2 ps-3
                                text-gray-900 border border-gray-300 rounded-lg bg-gray-100 focus:bg-white text-sm
                                focus:border-gray-500 outline-none" type="text" placeholder="Provider"/>
                            <div class="flex-1"></div>
                            <hr class="py-2" />
                            <button type="submit" class="ext-gray-600 bg-white border border-gray-500 items-center px-4 py-2 rounded-lg font-semibold hover:bg-gray-100 active:bg-gray-200 transition-colors duration-150">
                                <span>Save</span>
                            </button>
                        </form>
                    </div>
                </template>
            }
        }
        <section class="flex flex-col flex-1 bg-white min-h-0">
            @components.Table(tableData)
        </section>
    }
}
