package templates

import (
    layouts "echochat/templates/layouts"
    components "echochat/templates/components"
)

templ Home() {
    @layouts.MainLayout("Home") {
        @components.Login()
    }
}
