package templates

import (
    layouts "echochat/templates/layouts"
    components "echochat/templates/components"
)

templ Panel() {
    @layouts.MainLayout("Panel") {
        @components.AppHeader()
        <main class="flex flex-1 min-h-0">
            @components.Sidebar()
            <content id="pageView" hx-swap="outerHTML" hx-trigger="load" hx-get="/partials/providers" class="flex flex-col flex-1 min-h-0"></content>
        </main>
    }
}
