package templates

templ MainLayout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<style>
			[x-cloak] { display: none !important; }
			</style>
			<title>{ title }</title>
			<meta charset="UTF-8"/>
			<meta name="description" content="gin templ htmx hyperscript boilerplate"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
			<link rel="stylesheet" href="/assets/styles/index.css"/>
			<script src="/assets/scripts/htmx.min.js"></script>
			<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		</head>
		<body class="subpixel-antialiased flex flex-col items-stretch text-gray-600 max-h-dvh h-dvh overflow-hidden min-h-0">
			<div class="hidden w-36 w-52 w-12 w-8 w-28 w-56 opacity-100 flex-row mx-3 mb-3"></div>
			<div id="notifications" hx-swap="innerHTML" x-data="{ open: false }" x-cloak @toggle-notification.window="open = !open; callback = true;" x-show="open" class="transition-all px-4 py-2 text-md shadow-md border bg-green-600 text-white rounded-md self-center absolute z-20 top-4 font-semibold text-wider">
				<span></span>
			</div>
			{ children... }
		</body>
	</html>
}
