package templates

import "strings"

func disableBtnsOnHTMXRequest() string {
	return strings.ReplaceAll(`on every htmx:beforeSend in <button:not(.no-disable)/> 
        tell it 
            add [@disabled='true']
		then
			on htmx:afterRequest in <button:not(.no-disable)/>
		tell it
			wait 100ms then remove [@disabled]`, "\n", "")
}

templ MainLayout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{ title }</title>
			<meta charset="UTF-8"/>
			<meta name="description" content="gin templ htmx hyperscript boilerplate"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
			<link rel="stylesheet" href="/assets/styles/index.css"/>
			<script src="/assets/scripts/htmx.min.js"></script>
			<script src="https://unpkg.com/hyperscript.org@0.9.12/dist/_hyperscript.min.js"></script>
		</head>
		<body _={disableBtnsOnHTMXRequest()} class="subpixel-antialiased flex flex-col items-stretch text-gray-600 max-h-dvh h-dvh overflow-hidden min-h-0">
			<div class="hidden w-36 w-52 w-12 w-8 w-28 w-56"></div>
			{ children... }
		</body>
	</html>
}
