package templates

import "echochat/models"

templ AddProviderForm(panels []models.PanelModel) {
    <form hx-post="/partials/providers" hx-swap="none" class="min-h-0 flex flex-1 flex-col px-6 py-4" x-data="{ method: 'telegram', panel: '', form: $el }">
        <label for="panel" class="font-semibold px-3 py-1 text-sm">Panel (*)</label>
        <select x-model="panel" id="panel" name="panel" class="transition-colors block px-2 py-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-100 focus:bg-white text-sm focus:border-gray-500 outline-none">
            for _, panel := range panels {
                <option value={panel.ID}>{ panel.LoginURL }</option>
            }
        </select>
        <label for="inpUrl" class="mt-2 font-semibold px-3 py-1 text-sm">URL (*)</label>
        <input autocomplete="off" id="inpUrl" name="url" class="transition-colors block p-2 ps-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-100 focus:bg-white text-sm focus:border-gray-500 outline-none" type="url" placeholder="https://provider.com" required/>
        <label for="method" class="mt-2 font-semibold px-3 py-1 text-sm">Method (*)</label>
        <select x-model="method" id="method" name="method" class="transition-colors block px-2 py-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-100 focus:bg-white text-sm focus:border-gray-500 outline-none">
            <option value="telegram">Telegram</option>
            <option value="whatsapp">WhatsApp</option>
            <option value="web">Web</option>
        </select>
        <div class="flex flex-col mt-2 method" x-show="method === 'web'">
            <label for="supportUsername" class="font-semibold px-3 py-1 text-sm">Support Username (*)</label>
            <input :required="method === 'web'" autocomplete="off" id="supportUsername" name="supportUsername" class="webInp transition-colors block p-2 ps-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-100 focus:bg-white text-sm focus:border-gray-500 outline-none" type="text" placeholder="Username" />
            <label for="supportPassword" class="mt-2 font-semibold px-3 py-1 text-sm">Support Password (*)</label>
            <input :required="method === 'web'" autocomplete="off" id="supportPassword" name="supportPassword" class="webInp transition-colors block p-2 ps-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-100 focus:bg-white text-sm focus:border-gray-500 outline-none" type="text" placeholder="********" />
        </div>
        <label for="alias" class="mt-2 font-semibold px-3 py-1 text-sm">Alias</label>
        <input autocomplete="off" id="alias" name="alias" class="transition-colors block p-2 ps-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-100 focus:bg-white text-sm focus:border-gray-500 outline-none" type="text" placeholder="Provider Name"/>
        <div class="flex flex-col flex-1 py-2 px-3 mt-2 mb-2 min-h-0">
            <header class="px-2 flex justify-between items-center text-green-600">
                <h1 class="text-xl">Newly Added Provider:</h1>
                <span class="text-sm text-blue-600">https://google.com</span>
            </header>
            <h2 class="px-2 text-sm">Add a service to the provider</h2>
            <div class="mt-2 p-2 border mb-2 flex flex-row self-stretch items-center">
                <input name="service_id" type="text" class="p-2 w-28 max-w-28 mr-2 text-sm border-b outline-none border-gray-300 focus:border-gray-600" placeholder="Service ID" />
                <input name="service_name" type="text" class="p-2 w-36 max-w-36 text-sm border-b outline-none border-gray-300 focus:border-gray-600" placeholder="Service Name" />
                <div class="flex-1"></div>
                <button type="button" class="text-gray-600 bg-white border border-gray-500 items-center p-2 rounded-lg font-semibold hover:bg-gray-100 active:bg-gray-200 transition-colors duration-150 text-sm">Add</button>
            </div>
            <div class="py-3 flex-1 flex-col overflow-y-scroll min-h-0">
                for i := 0; i < 35; i++ {
                    <div class="service">

                    </div>
                }
            </div>
        </div>
        <hr class="py-2" />
        <button type="submit" @click="$nextTick(() => { $dispatch('toggle-notification'); setTimeout(() => { $dispatch('toggle-notification'); }, 3500); })" class="mx-3 mb-3 text-gray-600 bg-white border border-gray-500 items-center px-4 py-2 rounded-lg font-semibold hover:bg-gray-100 active:bg-gray-200 transition-colors duration-150">
            <span>Save</span>
        </button>
    </form>
}
