package templates

templ AddRecordBtn() {
    <button _="on click add .w-35p to <div#addRecordModal /> then remove .hidden from <div#overlay /> then add .opacity-100 to <div#overlay />" type="button" class="text-gray-600 bg-white border flex items-center px-4 py-2 rounded-lg font-semibold text-sm hover:bg-gray-100 active:bg-gray-200 transition-colors duration-150">
        { children... }
    </button>
}
