package templates

templ AppHeader() {
    <header class="flex p-2 border-b bg-white cursor-default justify-between items-center">
        <h1 class="text-xl px-2"><b>&lt;/&gt;</b> gsa</h1>
        <button type="button" hx-get="/auth/sign-out" hx-swap="none" class="text-gray-600 bg-white border flex items-center px-4 py-2 rounded-lg font-semibold text-sm hover:bg-gray-100 active:bg-gray-200 transition-colors duration-150">
            Sign Out
        </button>
    </header>
}
