package templates

import "fmt"
import "echochat/utils"

templ Table(tableData utils.TableData) {
    <div class="flex-1 overflow-x-auto min-h-0">
        <table class="relative w-full text-sm table-auto">
            <thead class="fixed h-[36px] w-full border-b border-gray-300 bg-gray-100">
                <tr>
                    <th class="px-3 py-2 w-0">
                        <label class="hidden" for="headerCheckbox"></label>
                        <input id="headerCheckbox" class="invisible" type="checkbox" disabled />
                    </th>
                    for idx, v := range tableData.Header {
                        <th class={`px-3 py-2 ` + tableData.SizeClasses[idx]}>{v}</th>
                    }
                </tr>
            </thead>
            <tbody class="divide-solid divide-y">
                <tr class="h-[35px] invisible"></tr>
                for i, row := range tableData.Rows {
                    <tr class="hover:bg-gray-200 active:bg-gray-300 transition-colors cursor-pointer duration-150">
                        <td class="px-3 py-2 w-0">
                            <label class="hidden" for={`checkbox-` + fmt.Sprint(i)}></label>
                            <input id={`checkbox-` + fmt.Sprint(i)} type="checkbox" />
                        </td>
                        for idx, v := range row {
                            <td class={`px-3 py-2 ` + tableData.SizeClasses[idx]}>
                                { v }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
